{
  "openapi": "3.1.0",
  "info": {
    "title": "Public API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.streamtime.net/v1",
      "description": "Public API Server"
    }
  ],
  "paths": {
    "/branches": {
      "get": {
        "tags": [
          "Branches"
        ],
        "summary": "List branches",
        "description": "Returns the list of all branches.",
        "operationId": "listBranches",
        "responses": {
          "200": {
            "description": "Branches fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Branch"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/branches/{branch_id}": {
      "get": {
        "tags": [
          "Branches"
        ],
        "summary": "Get a branch by ID",
        "description": "Returns the details of a specific branch.",
        "operationId": "getBranch",
        "parameters": [
          {
            "name": "branch_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branch"
                }
              }
            }
          }
        }
      }
    },
    "/companies": {
      "post": {
        "tags": [
          "Companies"
        ],
        "summary": "Create a company",
        "description": "Creates a new company for the authenticated organisation.",
        "operationId": "createCompany",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get company by ID",
        "operationId": "getCompany",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Update company",
        "operationId": "updateCompany",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/addresses": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List company addresses",
        "operationId": "listCompanyAddresses",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Addresses fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Address"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_id}/contacts": {
      "get": {
        "tags": [
          "Companies",
          "Contacts"
        ],
        "summary": "List company contacts",
        "operationId": "listCompanyContacts",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contacts fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Companies",
          "Contacts"
        ],
        "summary": "Create company contact",
        "operationId": "createCompanyContact",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a specific contact",
        "description": "Returns a single contact by ID if it belongs to your organisation.",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a contact",
        "description": "Updates a contact's details and status.",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "Contact ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get invoice by ID",
        "operationId": "getInvoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Invoices"
        ],
        "summary": "Update invoice",
        "description": "Updates invoice details and may transition invoice status.",
        "operationId": "updateInvoice",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Invoice"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoice"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}/tracked_line_items": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List tracked line items for an invoice",
        "description": "Returns related tracked line items grouped by type.",
        "operationId": "listInvoiceTrackedLineItems",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracked line items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "quoteLineItemInvoiceLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/QuoteLineItemInvoiceLineItem"
                      }
                    },
                    "jobItemInvoiceLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobItemInvoiceLineItem"
                      }
                    },
                    "loggedExpenseInvoiceLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LoggedExpenseInvoiceLineItem"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}/pdf": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Download invoice as PDF",
        "operationId": "getInvoicePdf",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated.",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}/html": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get invoice HTML",
        "operationId": "getInvoiceHtml",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML generated.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}/invoice_line_items": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoice line items",
        "operationId": "getInvoiceLineItems",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice line items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoiceLineItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/invoices/{invoice_id}/invoice_payments": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoice payments and payouts",
        "operationId": "getInvoicePayments",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice payments fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InvoicePayment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Invoices"
        ],
        "summary": "Create an invoice payment",
        "description": "Creates a payment or payout against the specified invoice.",
        "operationId": "createInvoicePayment",
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "paymentAccountId",
            "in": "query",
            "description": "Payment account ID (required for non-external invoices)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicePayment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invoice payment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePayment"
                }
              }
            }
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create a job",
        "description": "Creates a new job in your organisation.",
        "operationId": "createJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "description": "Returns a job by ID.",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Job ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update a job",
        "description": "Updates details for an existing job.",
        "operationId": "updateJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/activity_entries": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List job activity entries",
        "description": "Lists active activity entries for a job. Optionally filter by type using the activity_entry_type_id query parameter.",
        "operationId": "listJobActivityEntries",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "activity_entry_type_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity entries fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ActivityEntry"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Create a job activity entry (comment)",
        "description": "Creates a comment activity entry for a job.",
        "operationId": "createJobActivityEntry",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Activity entry created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivityEntry"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/job_status": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "summary": "Update a job's status",
        "description": "Updates the status of a job. May trigger validation for active/archived limits.",
        "operationId": "updateJobStatus",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "job_status_id",
            "in": "query",
            "description": "New Job Status ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/duplicate": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Duplicate a job",
        "description": "Duplicates a job with various configurable options.",
        "operationId": "duplicateJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job duplicated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/job_phases": {
      "get": {
        "tags": [
          "Jobs",
          "Job Phases"
        ],
        "summary": "List job phases",
        "description": "Lists phases for a job in order.",
        "operationId": "listJobPhases",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job phases fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobPhase"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs",
          "Job Phases"
        ],
        "summary": "Create a job phase",
        "description": "Creates a new phase for a job.",
        "operationId": "createJobPhase",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobPhase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job phase created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPhase"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/job_items": {
      "get": {
        "tags": [
          "Jobs",
          "Job Items"
        ],
        "summary": "List job items",
        "description": "Lists active job items for a job.",
        "operationId": "listJobItems",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs",
          "Job Items"
        ],
        "summary": "Create a job item",
        "description": "Creates a new job item for a job.",
        "operationId": "createJobItem",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItem"
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/job_items/dependencies": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List job item dependencies",
        "description": "Lists dependencies between job items.",
        "operationId": "listJobItemDependencies",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dependencies fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobItemDependency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobs/{job_id}/job_milestones": {
      "get": {
        "tags": [
          "Jobs",
          "Job Milestones"
        ],
        "summary": "List job milestones",
        "description": "Lists job milestones for a job.",
        "operationId": "listJobMilestones",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job milestones fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobMilestone"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Jobs",
          "Job Milestones"
        ],
        "summary": "Create a job milestone",
        "description": "Creates a new milestone for a job.",
        "operationId": "createJobMilestone",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobMilestone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job milestone created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobMilestone"
                }
              }
            }
          }
        }
      }
    },
    "/job_items/{job_item_id}": {
      "get": {
        "tags": [
          "Job Items"
        ],
        "summary": "Get job item by ID",
        "operationId": "getJobItem",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Items"
        ],
        "summary": "Update job item",
        "operationId": "updateJobItem",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItem"
                }
              }
            }
          }
        }
      }
    },
    "/job_items/{job_item_id}/job_item_roles": {
      "get": {
        "tags": [
          "Job Items",
          "Job Item Roles"
        ],
        "summary": "List job item roles",
        "operationId": "listJobItemRoles",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item roles fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobItemRole"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job Items",
          "Job Item Roles"
        ],
        "summary": "Create job item role",
        "operationId": "createJobItemRole",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item role created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemRole"
                }
              }
            }
          }
        }
      }
    },
    "/job_items/{job_item_id}/job_item_sub_items": {
      "get": {
        "tags": [
          "Job Items",
          "Job Item Sub Items"
        ],
        "summary": "List job item sub-items",
        "operationId": "listJobItemSubItems",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item sub-items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobItemSubItem"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job Items",
          "Job Item Sub Items"
        ],
        "summary": "Create job item sub-item",
        "operationId": "createJobItemSubItem",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemSubItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item sub-item created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemSubItem"
                }
              }
            }
          }
        }
      }
    },
    "/job_items/{job_item_id}/job_item_users": {
      "get": {
        "tags": [
          "Job Items",
          "Job Item Users"
        ],
        "summary": "List job item users",
        "operationId": "listJobItemUsers",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item users fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobItemUser"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job Items",
          "Job Item Users"
        ],
        "summary": "Create a job item user",
        "operationId": "createJobItemUser",
        "parameters": [
          {
            "name": "job_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item user created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemUser"
                }
              }
            }
          }
        }
      }
    },
    "/job_item_roles/{job_item_role_id}": {
      "get": {
        "tags": [
          "Job Item Roles"
        ],
        "summary": "Get job item role by ID",
        "operationId": "getJobItemRole",
        "parameters": [
          {
            "name": "job_item_role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item role fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemRole"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Item Roles"
        ],
        "summary": "Update job item role",
        "operationId": "updateJobItemRole",
        "parameters": [
          {
            "name": "job_item_role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item role updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemRole"
                }
              }
            }
          }
        }
      }
    },
    "/job_item_sub_items/{job_item_sub_item_id}": {
      "get": {
        "tags": [
          "Job Item Sub Items"
        ],
        "summary": "Get job item sub item by ID",
        "operationId": "getJobItemSubItem",
        "parameters": [
          {
            "name": "job_item_sub_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item sub item fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemSubItem"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Item Sub Items"
        ],
        "summary": "Update job sub item",
        "operationId": "updateJobItemSubItem",
        "parameters": [
          {
            "name": "job_item_sub_item_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemSubItem"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item sub item updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemSubItem"
                }
              }
            }
          }
        }
      }
    },
    "/job_item_users/{job_item_user_id}": {
      "get": {
        "tags": [
          "Job Item Users"
        ],
        "summary": "Get job item user by ID",
        "operationId": "getJobItemUser",
        "parameters": [
          {
            "name": "job_item_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job item user fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemUser"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Item Users"
        ],
        "summary": "Update job item user",
        "operationId": "updateJobItemUser",
        "parameters": [
          {
            "name": "job_item_user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobItemUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job item user updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobItemUser"
                }
              }
            }
          }
        }
      }
    },
    "/job_milestones/{job_milestone_id}": {
      "get": {
        "tags": [
          "Job Milestones"
        ],
        "summary": "Get job milestone by ID",
        "operationId": "getJobMilestone",
        "parameters": [
          {
            "name": "job_milestone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job milestone fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobMilestone"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Milestones"
        ],
        "summary": "Update a job milestone by ID",
        "operationId": "updateJobMilestone",
        "parameters": [
          {
            "name": "job_milestone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobMilestone"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job milestone updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobMilestone"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Job Milestones"
        ],
        "summary": "Delete a job milestone by ID",
        "operationId": "deleteJobMilestone",
        "parameters": [
          {
            "name": "job_milestone_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job milestone fetched."
          }
        }
      }
    },
    "/job_phases/{job_phase_id}": {
      "get": {
        "tags": [
          "Job Phases"
        ],
        "summary": "Get job phase by ID",
        "operationId": "getJobPhase",
        "parameters": [
          {
            "name": "job_phase_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job phase fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPhase"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job Phases"
        ],
        "summary": "Update a job phase by ID",
        "operationId": "updateJobPhase",
        "parameters": [
          {
            "name": "job_phase_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobPhase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job phase updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobPhase"
                }
              }
            }
          }
        }
      }
    },
    "/labels": {
      "get": {
        "tags": [
          "Labels"
        ],
        "summary": "List labels",
        "description": "Lists master labels for a label type or labels for a specific entity when entity_id is provided.",
        "operationId": "listLabels",
        "parameters": [
          {
            "name": "label_type_id",
            "in": "query",
            "description": "Label type ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "entity_id",
            "in": "query",
            "description": "When provided, returns labels for this entity instead of master labels for the type",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Labels fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MasterLabel"
                      }
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Label"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Create a label",
        "description": "Creates a new label for an entity. Optionally creates a master label.",
        "operationId": "createLabel",
        "parameters": [
          {
            "name": "create_master_label",
            "in": "query",
            "description": "If true, also creates a master label",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Label"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Label created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Label"
                }
              }
            }
          }
        }
      }
    },
    "/labels/search": {
      "post": {
        "tags": [
          "Labels"
        ],
        "summary": "Bulk fetch labels for multiple entities",
        "description": "Given a mapping of entity class names to arrays of IDs, returns labels for all specified entities.",
        "operationId": "searchLabels",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": "{\n                    \"Job\": [101, 102],\n                    \"Quote\": [201],\n                    \"User\": [301, 302]\n                }"
            }
          }
        },
        "responses": {
          "200": {
            "description": "Labels fetched successfully."
          }
        }
      }
    },
    "/labels/{label_id}": {
      "delete": {
        "tags": [
          "Labels"
        ],
        "summary": "Delete a label",
        "description": "Deletes a label by ID.",
        "operationId": "deleteLabel",
        "parameters": [
          {
            "name": "label_id",
            "in": "path",
            "description": "Label ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Label deleted successfully."
          }
        }
      }
    },
    "/logged_expenses": {
      "post": {
        "tags": [
          "Expenses"
        ],
        "summary": "Create a logged expense",
        "description": "Creates a new logged expense against a job.",
        "operationId": "createLoggedExpense",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "loggedExpense": {
                    "$ref": "#/components/schemas/LoggedExpense"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged expense created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedExpense"
                }
              }
            }
          }
        }
      }
    },
    "/logged_expenses/{logged_expense_id}": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Get logged expense by ID",
        "operationId": "getLoggedExpense",
        "parameters": [
          {
            "name": "logged_expense_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logged expense fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedExpense"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Expenses"
        ],
        "summary": "Update logged expense",
        "description": "Updates a logged expense, including status and purchase order details when applicable.",
        "operationId": "updateLoggedExpense",
        "parameters": [
          {
            "name": "logged_expense_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoggedExpense"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged expense updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedExpense"
                }
              }
            }
          }
        }
      }
    },
    "/logged_expenses/{logged_expense_id}/purchase_order": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "Get purchase order for a logged expense",
        "description": "Returns the purchase order details if the logged expense is a purchase order; otherwise returns null.",
        "operationId": "getLoggedExpensePurchaseOrder",
        "parameters": [
          {
            "name": "logged_expense_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseOrder"
                }
              }
            }
          }
        }
      }
    },
    "/logged_expenses/{logged_expense_id}/purchase_order_line_items": {
      "get": {
        "tags": [
          "Expenses"
        ],
        "summary": "List purchase order line items for a logged expense",
        "description": "Returns purchase order line items if the logged expense is a purchase order; otherwise returns an empty list.",
        "operationId": "listLoggedExpensePurchaseOrderLineItems",
        "parameters": [
          {
            "name": "logged_expense_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase order line items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PurchaseOrderLineItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logged_times": {
      "post": {
        "tags": [
          "ToDos"
        ],
        "summary": "Create a logged time entry",
        "description": "Creates a new logged time entry.",
        "operationId": "createLoggedTime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoggedTime"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged time created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedTime"
                }
              }
            }
          }
        }
      }
    },
    "/logged_times/bulk": {
      "post": {
        "tags": [
          "ToDos"
        ],
        "summary": "Create multiple logged time entries",
        "description": "Creates multiple logged time entries in a single request.",
        "operationId": "createLoggedTimeBulk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "loggedTimes": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/LoggedTime"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged time entries created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LoggedTime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/logged_times/{logged_time_id}": {
      "get": {
        "tags": [
          "ToDos"
        ],
        "summary": "Get logged time entry by ID",
        "operationId": "getLoggedTime",
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logged time fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedTime"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ToDos"
        ],
        "summary": "Update logged time entry",
        "operationId": "updateLoggedTime",
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoggedTime"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logged time updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoggedTime"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ToDos"
        ],
        "summary": "Delete logged time entry",
        "operationId": "deleteLoggedTime",
        "parameters": [
          {
            "name": "logged_time_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Logged time deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/organisation": {
      "get": {
        "tags": [
          "Organisation"
        ],
        "summary": "Get your organisation's details",
        "description": "Returns the organisation associated with the authenticated request.",
        "operationId": "getOrganisation",
        "responses": {
          "200": {
            "description": "Organisation fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organisation"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{quote_id}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Get quote by ID",
        "operationId": "getQuote",
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{quote_id}/tracked_line_items": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "List tracked line items for a quote. Use this to determine the source of a quote line item, as well as where it was eventually invoiced to.",
        "description": "Returns related tracked line items grouped by type.",
        "operationId": "listQuoteTrackedLineItems",
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tracked line items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "quoteLineItemInvoiceLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/QuoteLineItemInvoiceLineItem"
                      }
                    },
                    "jobItemQuoteLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobItemQuoteLineItem"
                      }
                    },
                    "loggedExpenseQuoteLineItems": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LoggedExpenseQuoteLineItem"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{quote_id}/quote_line_items": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "List quote line items for a quote",
        "operationId": "listQuoteLineItems",
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote line items fetched.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuoteLineItem"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quotes/{quote_id}/pdf": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Download quote as PDF",
        "operationId": "getQuotePdf",
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF generated.",
            "content": {
              "application/pdf": {}
            }
          }
        }
      }
    },
    "/quotes/{quote_id}/html": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "Get quote HTML",
        "operationId": "getQuoteHtml",
        "parameters": [
          {
            "name": "quote_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTML generated.",
            "content": {
              "text/html": {}
            }
          }
        }
      }
    },
    "/rate_cards": {
      "get": {
        "tags": [
          "Rate Cards"
        ],
        "summary": "List your organisation's rate cards",
        "description": "Returns all rate cards associated with your organisation.",
        "operationId": "listRateCards",
        "responses": {
          "200": {
            "description": "Rate cards fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RateCard"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rate_cards/{rate_card_id}": {
      "get": {
        "tags": [
          "Rate Cards"
        ],
        "summary": "Get a specific rate card",
        "description": "Returns a single rate card by ID.",
        "operationId": "getRateCard",
        "parameters": [
          {
            "name": "rate_card_id",
            "in": "path",
            "description": "Rate card ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rate card fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateCard"
                }
              }
            }
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "List your organisation's roles",
        "description": "Returns all roles associated with your organisation.",
        "operationId": "listRoles",
        "responses": {
          "200": {
            "description": "Roles fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/roles/{role_id}": {
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get a specific role",
        "description": "Returns a single role by ID if they belong to your organisation.",
        "operationId": "getRole",
        "parameters": [
          {
            "name": "role_id",
            "in": "path",
            "description": "Role ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Role fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      }
    },
    "/grouped_search/time_series": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Runs a report within Streamtime to return grouped results",
        "description": "Returns a grouped report of records that match the given search criteria. The search criteria are defined by the given search view.",
        "operationId": "timeSeriesSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {},
              "example": {
                "startDate": "2025-01-01",
                "endDate": "2025-12-31",
                "groupedFilterGroupTypeId": 76,
                "dataSets": [
                  {
                    "entityDescriptorId": 37,
                    "dateFilterGroupTypeId": 35,
                    "statisticFields": [
                      {
                        "columnId": 8,
                        "modeId": 1
                      }
                    ],
                    "filterGroupCollection": {
                      "conditionMatchTypeId": 1,
                      "filterGroupCollections": [
                        {
                          "conditionMatchTypeId": 1,
                          "filterGroups": [
                            {
                              "conditionMatchTypeId": 2,
                              "filterGroupTypeId": 26,
                              "filters": [
                                {
                                  "valueMatchTypeId": 1,
                                  "value": 3
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "entityDescriptorId": 15,
                    "dateFilterGroupTypeId": 176,
                    "statisticFields": [
                      {
                        "columnId": 9,
                        "modeId": 1
                      }
                    ],
                    "filterGroupCollection": {
                      "conditionMatchTypeId": 1,
                      "filterGroupCollections": [
                        {
                          "conditionMatchTypeId": 1,
                          "filterGroups": []
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search has been performed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "results": [
                    {
                      "key": "1735244",
                      "title": "Branding project 100",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1,\"ts\":\"Mar\"}": 2386.5
                      }
                    },
                    {
                      "key": "1796040",
                      "title": "brand refresh",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1,\"ts\":\"Feb\"}": 5000
                      }
                    },
                    {
                      "key": "1854961",
                      "title": "Identity refresh",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1,\"ts\":\"May\"}": 7500
                      }
                    }
                  ],
                  "seriesTotals": {
                    "{\"dsid\":\"0\",\"cid\":8,\"mid\":1}": 0,
                    "{\"dsid\":\"1\",\"cid\":9,\"mid\":1}": 14886.5
                  },
                  "bucketStartDate": "2025-01-01",
                  "bucketEndDate": "2025-12-31",
                  "bucketKeys": {
                    "25-01": "Jan",
                    "25-02": "Feb",
                    "25-03": "Mar",
                    "25-04": "Apr",
                    "25-05": "May",
                    "25-06": "Jun",
                    "25-07": "Jul",
                    "25-08": "Aug",
                    "25-09": "Sep",
                    "25-10": "Oct",
                    "25-11": "Nov",
                    "25-12": "Dec"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/grouped_search/column_series": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Runs a report within Streamtime to return grouped results",
        "description": "Returns a grouped report of records that match the given search criteria. The search criteria are defined by the given search view.",
        "operationId": "columnSeriesSearch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {},
              "example": {
                "startDate": "2025-01-01",
                "endDate": "2025-12-31",
                "groupedFilterGroupTypeId": 76,
                "dataSets": [
                  {
                    "entityDescriptorId": 37,
                    "dateFilterGroupTypeId": 35,
                    "statisticFields": [
                      {
                        "columnId": 8,
                        "modeId": 1
                      }
                    ],
                    "filterGroupCollection": {
                      "conditionMatchTypeId": 1,
                      "filterGroupCollections": [
                        {
                          "conditionMatchTypeId": 1,
                          "filterGroups": [
                            {
                              "conditionMatchTypeId": 2,
                              "filterGroupTypeId": 26,
                              "filters": [
                                {
                                  "valueMatchTypeId": 1,
                                  "value": 3
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    }
                  },
                  {
                    "entityDescriptorId": 15,
                    "dateFilterGroupTypeId": 176,
                    "statisticFields": [
                      {
                        "columnId": 9,
                        "modeId": 1
                      }
                    ],
                    "filterGroupCollection": {
                      "conditionMatchTypeId": 1,
                      "filterGroupCollections": [
                        {
                          "conditionMatchTypeId": 1,
                          "filterGroups": []
                        }
                      ]
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search has been performed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "results": [
                    {
                      "key": "1735244",
                      "title": "Branding project 100",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1}": 2386.5
                      }
                    },
                    {
                      "key": "1796040",
                      "title": "brand refresh",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1}": 5000
                      }
                    },
                    {
                      "key": "1854961",
                      "title": "Identity refresh",
                      "data": {
                        "{\"dsid\":\"1\",\"cid\":9,\"mid\":1}": 7500
                      }
                    }
                  ],
                  "seriesTotals": {
                    "{\"dsid\":\"0\",\"cid\":8,\"mid\":1}": 0,
                    "{\"dsid\":\"1\",\"cid\":9,\"mid\":1}": 14886.5
                  },
                  "bucketStartDate": null,
                  "bucketEndDate": null,
                  "bucketKeys": []
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List your organisation's users",
        "description": "Returns all users associated with your organisation.",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "Users fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a specific user",
        "description": "Returns a single user by ID if they belong to your organisation.",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_id}/saved_segments": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List saved segments for a user",
        "description": "Returns saved segments visible to the specified user.",
        "operationId": "listUserSavedSegments",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "saved_segment_type_ids",
            "in": "query",
            "description": "Filter by saved segment type IDs. Provide as a JSON array in the query string.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved segments fetched successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SavedSegment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/filter_group_types": {
      "get": {
        "tags": [
          "Filter Group Types"
        ],
        "summary": "Get the applicable Filter Group Types",
        "description": "When using the Search routes, you will be providing filters represented by FilterGroupTypes. This route returns the available FilterGroupTypes and their settings for a given list of Search Views (eg Jobs, Expenses, Quotes, etc).",
        "operationId": "getFilterGroupTypes",
        "parameters": [
          {
            "name": "search_views",
            "in": "query",
            "description": "Which search views you want the filter group types for. Use a comma-separated list of integers representing SearchView enums.",
            "required": true,
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SearchView"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of FilterGroupTypeSettings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FilterGroupTypeSettings"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Searches for records within Streamtime",
        "description": "Returns a paginated array of records that match the given search criteria, as well as statistics about the search. The search criteria are defined by the given search view.",
        "operationId": "searchRecords",
        "parameters": [
          {
            "name": "search_view",
            "in": "query",
            "description": "Which search context is being referred to, eg Jobs, Invoices, Quotes, etc. See SearchView for a list of possible values.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/SearchView"
            }
          },
          {
            "name": "include_statistics",
            "in": "query",
            "description": "Whether to generate the statistics object in the response. Set to true to include statistics, false to exclude them. These can be slow to generate, so it's recommended to only include them when necessary.",
            "required": false,
            "example": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilterGroupSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search has been performed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "searchResults": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "statistics": {
                      "properties": {
                        "matchedRecords": {
                          "type": "integer"
                        },
                        "totalActiveRecords": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivityEntry": {
        "title": "Activity Entry",
        "description": "Represents an activity entry on a parent entity (e.g. a job or a thread).",
        "properties": {
          "id": {
            "description": "Activity entry ID",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "activityEntryType": {
            "$ref": "#/components/schemas/ActivityEntryType"
          },
          "createdUserId": {
            "description": "User ID of the creator",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "createdDatetime": {
            "description": "Creation timestamp",
            "type": "string",
            "format": "date-time",
            "readOnly": true
          },
          "lastModifiedDatetime": {
            "description": "Last modification timestamp",
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "readOnly": true
          },
          "lastModifiedByUserId": {
            "description": "User ID of the last modifier",
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "readOnly": true
          },
          "activityEntryParentType": {
            "$ref": "#/components/schemas/ActivityEntryParentType"
          },
          "parentEntityId": {
            "description": "ID of the parent entity this activity entry belongs to",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "entityId": {
            "description": "Associated entity ID, if applicable",
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "readOnly": true
          },
          "threadActivityEntryCount": {
            "description": "Number of entries in the thread",
            "type": "integer",
            "readOnly": true
          },
          "metaData": {
            "description": "Additional metadata (JSON string)",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true
          }
        },
        "type": "object"
      },
      "Address": {
        "title": "Address",
        "description": "Address details",
        "properties": {
          "id": {
            "description": "Address ID",
            "type": "integer",
            "readOnly": true,
            "example": 123
          },
          "line1": {
            "description": "Address line 1",
            "type": [
              "string",
              "null"
            ],
            "example": "123 High St"
          },
          "line2": {
            "description": "Address line 2",
            "type": [
              "string",
              "null"
            ],
            "example": "Suite 5"
          },
          "line3": {
            "description": "Address line 3",
            "type": [
              "string",
              "null"
            ],
            "example": "Building B"
          },
          "city": {
            "description": "City",
            "type": [
              "string",
              "null"
            ],
            "example": "Auckland"
          },
          "region": {
            "description": "Region/State/Province",
            "type": [
              "string",
              "null"
            ],
            "example": "Auckland"
          },
          "countryName": {
            "description": "Country name",
            "type": [
              "string",
              "null"
            ],
            "example": "New Zealand"
          },
          "postCode": {
            "description": "Postal/ZIP code",
            "type": [
              "string",
              "null"
            ],
            "example": "1010"
          }
        },
        "type": "object"
      },
      "Branch": {
        "title": "Branch",
        "description": "Organisation branch details, which are the external facing details of your company",
        "properties": {
          "id": {
            "description": "Branch ID",
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "description": "Branch name",
            "type": "string",
            "readOnly": true,
            "example": "Head Office"
          },
          "externalName": {
            "description": "External display name",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "Acme HQ"
          },
          "taxNumber": {
            "description": "Branch tax number",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "NZ123-456-789"
          },
          "address": {
            "description": "Formatted branch address",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "123 High St, Auckland 1010, New Zealand"
          },
          "active": {
            "description": "Is the branch active",
            "type": "boolean",
            "readOnly": true,
            "example": true
          }
        },
        "type": "object"
      },
      "Company": {
        "title": "Company",
        "description": "A company that you work with, either as a supplier or a client.",
        "properties": {
          "id": {
            "description": "Company ID",
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "description": "Company name",
            "type": "string",
            "example": "Acme Corporation"
          },
          "branchId": {
            "description": "Branch ID the company belongs to",
            "type": "integer",
            "readOnly": true
          },
          "companyLeadUserId": {
            "description": "Lead user ID for this company",
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true
          },
          "companyStatus": {
            "$ref": "#/components/schemas/CompanyStatus"
          },
          "branchName": {
            "description": "Branch name",
            "type": "string",
            "readOnly": true,
            "example": "Head Office"
          },
          "rateCardId": {
            "description": "Rate card ID",
            "type": [
              "integer",
              "null"
            ],
            "readOnly": true,
            "example": 7
          },
          "rateCardName": {
            "description": "Rate card name",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "Standard Rates"
          },
          "taxNumber": {
            "description": "Tax/GST/VAT number",
            "type": [
              "string",
              "null"
            ],
            "example": "NZ123-456-789"
          },
          "phone1": {
            "description": "Primary phone number",
            "type": [
              "string",
              "null"
            ],
            "example": "+64 9 123 4567"
          },
          "phone2": {
            "description": "Secondary phone number",
            "type": [
              "string",
              "null"
            ],
            "example": "+64 21 987 654"
          },
          "websiteAddress": {
            "description": "Website URL",
            "type": [
              "string",
              "null"
            ],
            "example": "https://www.acme.co"
          },
          "notes": {
            "description": "Notes about the company",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "Preferred client"
          },
          "physicalAddress": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "postalAddress": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Address"
              },
              {
                "type": "null"
              }
            ]
          },
          "companyLabels": {
            "description": "Labels assigned to this company",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Label"
            },
            "readOnly": true
          }
        },
        "type": "object"
      },
      "Contact": {
        "title": "Contact",
        "description": "Contact details",
        "properties": {
          "id": {
            "description": "Contact ID",
            "type": "integer",
            "format": "int64",
            "readOnly": true,
            "example": 501
          },
          "firstName": {
            "description": "First name",
            "type": "string",
            "example": "Jane"
          },
          "lastName": {
            "description": "Last name",
            "type": [
              "string",
              "null"
            ],
            "example": "Doe"
          },
          "email": {
            "description": "Email address",
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "example": "jane.doe@example.com"
          },
          "phoneNumber": {
            "description": "Phone number",
            "type": [
              "string",
              "null"
            ],
            "example": "+64 21 123 4567"
          },
          "position": {
            "description": "Position / Job title",
            "type": [
              "string",
              "null"
            ],
            "example": "Project Manager"
          },
          "notes": {
            "description": "Notes",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "Prefers email contact"
          },
          "active": {
            "description": "Is contact active",
            "type": "boolean",
            "readOnly": true,
            "example": true
          },
          "companyId": {
            "description": "Company ID this contact belongs to",
            "type": "integer",
            "format": "int64",
            "readOnly": true,
            "example": 2001
          },
          "contactStatus": {
            "$ref": "#/components/schemas/ContactStatus"
          },
          "contactLabels": {
            "description": "Labels applied to the contact",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactLabel"
            }
          }
        },
        "type": "object"
      },
      "Invoice": {
        "title": "Invoice",
        "description": "Invoice details and totals",
        "properties": {
          "id": {
            "description": "Invoice ID",
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "createdUser": {
            "description": "Created by (display name)",
            "type": "string",
            "readOnly": true,
            "example": "Jane Smith"
          },
          "sentByUser": {
            "description": "Who the invoice was sent by (display name)",
            "type": [
              "string",
              "null"
            ],
            "readOnly": true,
            "example": "John Admin"
          },
          "sentDate": {
            "description": "Date the invoice was sent",
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "readOnly": true,
            "example": "2025-01-15"
          },
          "company": {
            "$ref": "#/components/schemas/Company"
          },
          "jobId": {
            "description": "Job ID that this invoice relates to",
            "type": "integer",
            "format": "int64",
            "readOnly": true,
            "example": 1201
          },
          "name": {
            "description": "Invoice name/title",
            "type": "string",
            "example": "January 2025 Retainer"
          },
          "number": {
            "description": "Invoice number",
            "type": [
              "string",
              "null"
            ],
            "example": "INV-2025-001"
          },
          "reference": {
            "description": "Reference shown on the invoice",
            "type": [
              "string",
              "null"
            ],
            "example": "PO-987654"
          },
          "invoiceType": {
            "$ref": "#/components/schemas/InvoiceType"
          },
          "invoiceStatus": {
            "$ref": "#/components/schemas/InvoiceStatus"
          },
          "currencyCode": {
            "description": "Currency code (ISO 4217)",
            "type": "string",
            "readOnly": true,
            "example": "USD"
          },
          "currencySymbol": {
            "description": "Currency symbol",
            "type": "string",
            "readOnly": true,
            "example": "$"
          },
          "exchangeRate": {
            "description": "Exchange rate used for this invoice",
            "type": "number",
            "format": "float",
            "readOnly": true,
            "example": 1
          },
          "discount": {
            "description": "Discount percentage applied",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "readOnly": true,
            "example": 10
          },
          "instalment": {
            "description": "Instalment percentage (if invoiced by instalments)",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "readOnly": true,
            "example": 50
          },
          "invoiceCurrencyAmountPaidIncTax": {
            "description": "Amount paid including tax (invoice currency)",
            "type": [
              "number",
              "null"
            ],
            "format": "float",
            "readOnly": true,
            "example": 1250
          },
          "invoiceCurrencyTotalAmountExTax": {
            "description": "Total amount excluding tax (invoice currency)",
            "type": "number",
[...]
